html {
    font-size: 16px;
}

body {
    font-family: 'TBC X';
    background-color: #1A1E1F;
}

.navigation {
    height: 5.25rem;
    background-color: #222222F2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.3rem 0;
}

.menu img {
    width: 11.375rem;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.menu li {
    font-size: 14px;
    color: #F4F4F4;
    padding: 0 0.625rem;
}

.menu li:nth-child(3) {
    color: #00A3E0;
}

.hero {
    background-image: url("../assets/hero.png");
    height: 22rem;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero div {
    max-width: 60rem;
    margin: 0 auto;
    text-align: left;
}

.hero h2 {
    color: #F4F4F4;
    font-size: 2.125rem;
    line-height: 4rem;
    font-weight: 900;
}

.hero h2 span:first-child {
    font-size: 2.625rem;
    margin-right: 30rem;
}

.intro {
    background-color: #2B2B2B;
}

.intro .text {
    max-width: 60rem;
    margin: 0 auto;
}

.intro .text h3 {
    color: #F4F4F4;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 3rem;
    padding: 2.5rem 0;
}

.intro .text a {
    color: #00A3E0;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 2.5rem 0;
    display: block;
}

.courses {
    background-color: #161616;
}

.courses-wrapper {
    max-width: 60rem;
    margin: 0 auto;
}

.courses-wrapper h3 {
    color: #F4F4F4;
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 2.5rem;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    row-gap: 1.5rem;
    padding: 3rem 0;
}

.course-box {
    width: 18.75rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(85, 85, 85, 1);
    border-radius: 0.375rem;
}

.course-box h4, .course-box p {
    padding: 1rem;
}

.upperPart img {
    width: 100%;
}

.course-box h4 {
    color: #F4F4F4;
    font-size: 1.125rem;
    font-weight: normal;
}

.course-box p {
    color: #F4F4F4;
    font-size: 0.875rem;
    font-weight: normal;
}

.course-box .more {
    color: #00A3E0;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    padding: 1rem;
}

.course-box .more a {
    vertical-align: text-top;
}

footer {
    background-color: transparent;
    padding: 4rem;
}

.footer-wrapper {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.leftSide img {
    width: 6.625rem;
}

.leftSide {
    color: #F4F4F4;
    font-size: 0.875rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: end;
}

.social img {
    margin: 0.25rem;
}

.rightSide>a {
    color: #F4F4F4;
    font-size: 1rem;
    font-weight: normal;
    padding: 1rem 2rem;
    border-radius: 0.375rem;
    background-color: #00A3E0;
}

.FAQ {
    background-color: #161616;
    padding: 4rem 0;
}

.FAQ-wrapper {
    max-width: 60rem;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.FAQ-wrapper .title h3 {
    color: #F4F4F4;
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 2.5rem;
}

.FAQ-wrapper .title a {
    color: #00A3E0;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 2.5rem 0;
}

.accordion {
    padding: 0;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background: none;
    color: #F4F4F4;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
}

.accordion:after {
    content: url("../assets/upward-arrow.svg");
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: url("../assets/downward-arrow.svg");
}

.panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #F4F4F4;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    line-height: 2rem;
}

.panel p {
    padding-top: 1.5rem;
}

.panel p:nth-child(2) {
    padding-left: 2rem;
}

.question-answer {
    border-bottom: 1px solid rgba(85, 85, 85, 1);
    padding: 1.5rem 0;
}

.slider {
    position: relative;
    padding: 3rem 0;
    background-color: #2B2B2B;
    z-index: 9;
}

.slider-wrapper {
    max-width: 60rem;
    margin: 0 auto;
}

.slider-wrapper h3 {
    padding-bottom: 4rem;
    color: #F4F4F4;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
}

.carousel-container {
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 33.33%;
}

.slide img {
    transform: scale(0.75);
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.nav-buttons img {
    cursor: pointer;
    width: 1.125rem;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.nav-buttons img:nth-child(2) {
    transform: rotate(180deg);
    margin-right: 5rem;
}

.nav-buttons img:first-child {
    margin-left: 5rem;
}